[Desktop Entry]

Name=Triage
Comment=ART distractionist triage page
GenericName=Brwoser window with triage tasks
Exec=triage
Icon=openshift
Categories=ProjectManagement;Office;Utility;
Terminal=false
Type=Application
MimeType=application/x-desktop;
Version=1.0
